/* @@author Ruoling */

/*************************
 * DEFAULT STYLE CLASSES *
 *************************/

/* reduce font aliasing  */
.text {
    -fx-font-smoothing-type: gray;
}

.label {
    -fx-font-size: 18;
    -fx-font-family: "Roboto Regular", "Segoe UI", sans-serif;
    -fx-alignment: center-left;
    -fx-label-padding: 3 4 3 4;
}

.list-view {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-border-color: none;
}

.list-cell {
    -fx-padding: 3 0 3 0;
    -fx-background-color: transparent;
}

.list-cell:empty {
    -fx-background-color: transparent;
}

.list-cell:selected .label {
    -fx-font-family: "Roboto Bold", "Segoe UI", sans-serif;
    -fx-text-fill: #000000;
}

.scroll-pane {
    -fx-focus-traversable: true;
    -fx-fit-to-width: true;
    -fx-hbar-policy: never;
    -fx-vbar-policy: as-needed;
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-opacity: 1;
    -fx-background-color: transparent;
    -fx-padding: 3 0 3 3;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 5;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #A1E7C6;
    -fx-background-radius: 0;
    -fx-background-insets: 1;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow ,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

/************************
 * CUSTOM STYLE CLASSES *
 ************************/

.header {
    -fx-font-size: 25;
    -fx-font-family: "Roboto Slab Regular", "Segoe UI", sans-serif;
    -fx-alignment: center-left;
    -fx-label-padding: 5;
}

.panel {
    -fx-spacing: 5;
    -fx-padding: 5 15 5 15;
    -fx-background-color: #FFFFFF;
}

.entry-empty {
    -fx-padding: 3 5 3 5;
    -fx-background-color: #F2F2F2;
    -fx-pref-width: infinity;
}

.entry-task {
    /* prevents ListView from creating a horizontal scroll bar
     * when task description is wider than width of ListView*/
    -fx-pref-width: 1;
    -fx-padding: 3 5 3 5;
    -fx-background-color: #F2F2F2;
}

.entry-task-overdue {
    -fx-pref-width: 1;
    -fx-padding: 3 5 3 5;
    -fx-background-color: #FFAB8E;
}

.entry-task-modified {
    -fx-pref-width: 1;
    -fx-padding: 3 5 3 5;
    -fx-background-color: #A1E7C6;
}

.desc {
    -fx-wrap-text: true;
    -fx-text-alignment: left;
}

.details {
    -fx-alignment: center-left;
}

.details > .label {
    -fx-wrap-text: true;
    -fx-font-size: 15;
    -fx-text-fill: #000000;
}

.table {
    -fx-padding: 3;
    -fx-vgap: 3;
    -fx-background-color: #F2F2F2;
}

.table .label {
    -fx-font-size: 18;
    -fx-wrap-text: true;
    -fx-font-family: "Roboto Condensed Regular", "Segoe UI", sans-serif;
}

.sidebar {
    -fx-alignment: top-left;
    -fx-padding: 5;
    -fx-spacing: 5;
    -fx-background-color: #F6F6F6;
    -fx-effect: dropshadow( gaussian , #AAAAAA , 10 , 0.1 , 0 , 0 );
}

.sidebar-button {
    -fx-padding: 0 0 0 5;
}

.entry-cat {
    -fx-padding: 3;
    -fx-alignment: center-left;
}

.count {
    -fx-font-size: 12;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-background-color: #A1E7C6;
    -fx-background-radius: 3;
}
