/* @@author Ruoling */
/* Defines the design of the feedback popup */

/* reduce font aliasing  */
.text {
    -fx-font-smoothing-type: gray;
}

#popup-box {
    -fx-background-color: #F4F4F4;
    -fx-padding: 5;
    -fx-spacing: 5;
    -fx-alignment: center-left;
}

#popup-text {
    -fx-font-size: 20;
    -fx-text-fill: #000000;
    -fx-font-family: "Roboto Regular", "Segoe UI", sans-serif;
    -fx-alignment: center-left;
    -fx-label-padding: 5;
}